<Controls>
  <Player0>
    <Keyboard_Up>W</Keyboard_Up>
    <Keyboard_Down>S</Keyboard_Down>
    <Keyboard_Left>A</Keyboard_Left>
    <Keyboard_Right>D</Keyboard_Right>
    <Keyboard_Pause>Escape</Keyboard_Pause>
    <Keyboard_Accept>K</Keyboard_Accept>
    <Keyboard_Cancel>J</Keyboard_Cancel>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Keyboard_PickCard0>None</Keyboard_PickCard0>
    <Keyboard_PickCard1>None</Keyboard_PickCard1>
    <Keyboard_PickCard2>None</Keyboard_PickCard2>
    <Keyboard_PickCard3>None</Keyboard_PickCard3>
    <Keyboard_PickCard4>None</Keyboard_PickCard4>
    <Keyboard_PickCard5>None</Keyboard_PickCard5>
    <Keyboard_PickCard6>None</Keyboard_PickCard6>
    <Keyboard_PickCard7>None</Keyboard_PickCard7>
    <Gamepad_Up>Dpad Up</Gamepad_Up>
    <Gamepad_Down>Dpad Down</Gamepad_Down>
    <Gamepad_Left>Dpad Left</Gamepad_Left>
    <Gamepad_Right>Dpad Right</Gamepad_Right>
    <Gamepad_Pause>Start</Gamepad_Pause>
    <Gamepad_Accept>A</Gamepad_Accept>
    <Gamepad_Cancel>B</Gamepad_Cancel>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
    <Gamepad_PickCard0>
    </Gamepad_PickCard0>
    <Gamepad_PickCard1>
    </Gamepad_PickCard1>
    <Gamepad_PickCard2>
    </Gamepad_PickCard2>
    <Gamepad_PickCard3>
    </Gamepad_PickCard3>
    <Gamepad_PickCard4>
    </Gamepad_PickCard4>
    <Gamepad_PickCard5>
    </Gamepad_PickCard5>
    <Gamepad_PickCard6>
    </Gamepad_PickCard6>
    <Gamepad_PickCard7>
    </Gamepad_PickCard7>
  </Player0>
  <Player1>
    <Keyboard_Up>W</Keyboard_Up>
    <Keyboard_Down>S</Keyboard_Down>
    <Keyboard_Left>A</Keyboard_Left>
    <Keyboard_Right>D</Keyboard_Right>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>K</Keyboard_Accept>
    <Keyboard_Cancel>J</Keyboard_Cancel>
    <Keyboard_Attack>K</Keyboard_Attack>
    <Keyboard_UseCard>J</Keyboard_UseCard>
    <Keyboard_Taunt>L</Keyboard_Taunt>
    <Keyboard_PickCard0>Alpha1</Keyboard_PickCard0>
    <Keyboard_PickCard1>Alpha2</Keyboard_PickCard1>
    <Keyboard_PickCard2>Alpha3</Keyboard_PickCard2>
    <Keyboard_PickCard3>Alpha4</Keyboard_PickCard3>
    <Keyboard_PickCard4>Alpha5</Keyboard_PickCard4>
    <Keyboard_PickCard5>Alpha6</Keyboard_PickCard5>
    <Keyboard_PickCard6>Alpha7</Keyboard_PickCard6>
    <Keyboard_PickCard7>Alpha8</Keyboard_PickCard7>
    <Gamepad_Up>Dpad Up</Gamepad_Up>
    <Gamepad_Down>Dpad Down</Gamepad_Down>
    <Gamepad_Left>Dpad Left</Gamepad_Left>
    <Gamepad_Right>Dpad Right</Gamepad_Right>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>A</Gamepad_Accept>
    <Gamepad_Cancel>B</Gamepad_Cancel>
    <Gamepad_Attack>A</Gamepad_Attack>
    <Gamepad_UseCard>B</Gamepad_UseCard>
    <Gamepad_Taunt>X</Gamepad_Taunt>
    <Gamepad_PickCard0>LB</Gamepad_PickCard0>
    <Gamepad_PickCard1>RB</Gamepad_PickCard1>
    <Gamepad_PickCard2>Left Trigger</Gamepad_PickCard2>
    <Gamepad_PickCard3>Right Trigger</Gamepad_PickCard3>
    <Gamepad_PickCard4>A</Gamepad_PickCard4>
    <Gamepad_PickCard5>B</Gamepad_PickCard5>
    <Gamepad_PickCard6>X</Gamepad_PickCard6>
    <Gamepad_PickCard7>Y</Gamepad_PickCard7>
  </Player1>
  <Player2>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Keyboard_PickCard0>None</Keyboard_PickCard0>
    <Keyboard_PickCard1>None</Keyboard_PickCard1>
    <Keyboard_PickCard2>None</Keyboard_PickCard2>
    <Keyboard_PickCard3>None</Keyboard_PickCard3>
    <Keyboard_PickCard4>None</Keyboard_PickCard4>
    <Keyboard_PickCard5>None</Keyboard_PickCard5>
    <Keyboard_PickCard6>None</Keyboard_PickCard6>
    <Keyboard_PickCard7>None</Keyboard_PickCard7>
    <Gamepad_Up>Dpad Up</Gamepad_Up>
    <Gamepad_Down>Dpad Down</Gamepad_Down>
    <Gamepad_Left>Dpad Left</Gamepad_Left>
    <Gamepad_Right>Dpad Right</Gamepad_Right>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>A</Gamepad_Accept>
    <Gamepad_Cancel>B</Gamepad_Cancel>
    <Gamepad_Attack>A</Gamepad_Attack>
    <Gamepad_UseCard>B</Gamepad_UseCard>
    <Gamepad_Taunt>X</Gamepad_Taunt>
    <Gamepad_PickCard0>LB</Gamepad_PickCard0>
    <Gamepad_PickCard1>RB</Gamepad_PickCard1>
    <Gamepad_PickCard2>Left Trigger</Gamepad_PickCard2>
    <Gamepad_PickCard3>Right Trigger</Gamepad_PickCard3>
    <Gamepad_PickCard4>A</Gamepad_PickCard4>
    <Gamepad_PickCard5>B</Gamepad_PickCard5>
    <Gamepad_PickCard6>X</Gamepad_PickCard6>
    <Gamepad_PickCard7>Y</Gamepad_PickCard7>
  </Player2>
  <Player3>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Keyboard_PickCard0>None</Keyboard_PickCard0>
    <Keyboard_PickCard1>None</Keyboard_PickCard1>
    <Keyboard_PickCard2>None</Keyboard_PickCard2>
    <Keyboard_PickCard3>None</Keyboard_PickCard3>
    <Keyboard_PickCard4>None</Keyboard_PickCard4>
    <Keyboard_PickCard5>None</Keyboard_PickCard5>
    <Keyboard_PickCard6>None</Keyboard_PickCard6>
    <Keyboard_PickCard7>None</Keyboard_PickCard7>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
    <Gamepad_PickCard0>
    </Gamepad_PickCard0>
    <Gamepad_PickCard1>
    </Gamepad_PickCard1>
    <Gamepad_PickCard2>
    </Gamepad_PickCard2>
    <Gamepad_PickCard3>
    </Gamepad_PickCard3>
    <Gamepad_PickCard4>
    </Gamepad_PickCard4>
    <Gamepad_PickCard5>
    </Gamepad_PickCard5>
    <Gamepad_PickCard6>
    </Gamepad_PickCard6>
    <Gamepad_PickCard7>
    </Gamepad_PickCard7>
  </Player3>
  <Player4>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Keyboard_PickCard0>None</Keyboard_PickCard0>
    <Keyboard_PickCard1>None</Keyboard_PickCard1>
    <Keyboard_PickCard2>None</Keyboard_PickCard2>
    <Keyboard_PickCard3>None</Keyboard_PickCard3>
    <Keyboard_PickCard4>None</Keyboard_PickCard4>
    <Keyboard_PickCard5>None</Keyboard_PickCard5>
    <Keyboard_PickCard6>None</Keyboard_PickCard6>
    <Keyboard_PickCard7>None</Keyboard_PickCard7>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
    <Gamepad_PickCard0>
    </Gamepad_PickCard0>
    <Gamepad_PickCard1>
    </Gamepad_PickCard1>
    <Gamepad_PickCard2>
    </Gamepad_PickCard2>
    <Gamepad_PickCard3>
    </Gamepad_PickCard3>
    <Gamepad_PickCard4>
    </Gamepad_PickCard4>
    <Gamepad_PickCard5>
    </Gamepad_PickCard5>
    <Gamepad_PickCard6>
    </Gamepad_PickCard6>
    <Gamepad_PickCard7>
    </Gamepad_PickCard7>
  </Player4>
  <Player5>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Keyboard_PickCard0>None</Keyboard_PickCard0>
    <Keyboard_PickCard1>None</Keyboard_PickCard1>
    <Keyboard_PickCard2>None</Keyboard_PickCard2>
    <Keyboard_PickCard3>None</Keyboard_PickCard3>
    <Keyboard_PickCard4>None</Keyboard_PickCard4>
    <Keyboard_PickCard5>None</Keyboard_PickCard5>
    <Keyboard_PickCard6>None</Keyboard_PickCard6>
    <Keyboard_PickCard7>None</Keyboard_PickCard7>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
    <Gamepad_PickCard0>
    </Gamepad_PickCard0>
    <Gamepad_PickCard1>
    </Gamepad_PickCard1>
    <Gamepad_PickCard2>
    </Gamepad_PickCard2>
    <Gamepad_PickCard3>
    </Gamepad_PickCard3>
    <Gamepad_PickCard4>
    </Gamepad_PickCard4>
    <Gamepad_PickCard5>
    </Gamepad_PickCard5>
    <Gamepad_PickCard6>
    </Gamepad_PickCard6>
    <Gamepad_PickCard7>
    </Gamepad_PickCard7>
  </Player5>
  <Player6>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_UseCard>None</Keyboard_UseCard>
    <Keyboard_Taunt>None</Keyboard_Taunt>
    <Keyboard_PickCard0>None</Keyboard_PickCard0>
    <Keyboard_PickCard1>None</Keyboard_PickCard1>
    <Keyboard_PickCard2>None</Keyboard_PickCard2>
    <Keyboard_PickCard3>None</Keyboard_PickCard3>
    <Keyboard_PickCard4>None</Keyboard_PickCard4>
    <Keyboard_PickCard5>None</Keyboard_PickCard5>
    <Keyboard_PickCard6>None</Keyboard_PickCard6>
    <Keyboard_PickCard7>None</Keyboard_PickCard7>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_UseCard>
    </Gamepad_UseCard>
    <Gamepad_Taunt>
    </Gamepad_Taunt>
    <Gamepad_PickCard0>
    </Gamepad_PickCard0>
    <Gamepad_PickCard1>
    </Gamepad_PickCard1>
    <Gamepad_PickCard2>
    </Gamepad_PickCard2>
    <Gamepad_PickCard3>
    </Gamepad_PickCard3>
    <Gamepad_PickCard4>
    </Gamepad_PickCard4>
    <Gamepad_PickCard5>
    </Gamepad_PickCard5>
    <Gamepad_PickCard6>
    </Gamepad_PickCard6>
    <Gamepad_PickCard7>
    </Gamepad_PickCard7>
  </Player6>
</Controls>